---
import { type Size, type TextSize } from "../../types/components";

export interface Props {
  title: string;
  titleSize?: TextSize;
  titleSizeMobile?: TextSize;
  subtitle: string;
  subtitleSize?: TextSize;
  subtitleSizeMobile?: TextSize;
  size?: Size;
  profileImage?: string;
}

const {
  title,
  titleSize = "is-size-3",
  titleSizeMobile = "is-size-4",
  subtitle,
  subtitleSize = "is-size-5",
  subtitleSizeMobile = "is-size-6",
  size = "is-small",
  profileImage,
} = Astro.props;
---

<section class:list={["hero", "is-fullheight", size]}>
  <div class="hero-body is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-text-centered">
    
    {profileImage && (
      <figure class="image is-128x128 mb-4">
        <img class="is-rounded" src={profileImage} alt="Profile picture" />
      </figure>
    )}
    <figure class="image is-128x128 mb-4">
        <img class="is-rounded" src="/images/random.jpg" alt="Profile picture" />
    </figure>

    <h1 class:list={["title", titleSize, `${titleSizeMobile}-mobile`]}>
      {title}
    </h1>
    
    <p class:list={["subtitle", subtitleSize, `${subtitleSizeMobile}-mobile`]}>
      {subtitle}
    </p>

    <slot />
  </div>
</section>
